* {
  margin: 0px;
  padding: 0px; }

.fondo {
  background-image: white; }
  .fondo .container {
    background-color: #00406b;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "NAV NAV NAV NAV NAV" "MAIN MAIN MAIN MAIN MAIN" "MAIN MAIN MAIN MAIN MAIN" "FOOTER FOOTER FOOTER FOOTER FOOTER"; }
    .fondo .container .Botones {
      font-size: 1.3rem; }
      .fondo .container .Botones .Botones li {
        font-size: 22px;
        display: inline-block;
        margin: 10px;
        padding-left: 110px;
        padding-right: 3px; }
      .fondo .container .Botones .NAV {
        background-color: #002171;
        grid-area: NAV; }
